:root {
  font-size: 16px;
  font-family: 'Open Sans';
  --text-primary: #b6b6b6;
  --text-secondary: #ececec;
  --bg-primary: #23232e;
  --bg-secondary: #141418;
  --transition-speed: 600ms;
}

body {
  color: black;
  background-color: white;
  margin: 0;
  padding: 0;
}

#main {
  display: flex;
  transition: margin-left .5s;
  padding: 20px;
}
  
.navbar {
  display: block;
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 600ms ease;
  overflow: scroll;
}

.svg-icon {
  fill:white;
  color:white;
}

.navbar-nav {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.navButton {
  align-self: flex-start;
  margin-top: auto;
  margin-bottom: 20px;
}

.nav-item {
  width: 100%;
}

.nav-link {
  display: flex;
  align-items: center;
  height: 5rem;
  color: var(--text-primary);
  text-decoration: none;
  filter: grayscale(100%) opacity(0.7);
  transition: var(--transition-speed);
}

.nav-link:hover {
  filter: grayscale(0%) opacity(1);
  background: var(--bg-secondary);
  color: var(--text-secondary);
}

.link-text {
  display: none;
  margin-left: 1rem;
  color: white;
}

.nav-link svg {
  width: 2rem;
  min-width: 2rem;
  margin: 0 1.5rem;
}

.fa-primary {
  color: #ff7eee;
}

.fa-secondary {
  color: #df49a6;
}

.fa-primary,
.fa-secondary {
  transition: var(--transition-speed);
}

.logo {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 1rem;
  text-align: center;
  color: var(--text-secondary);
  background: var(--bg-secondary);
  font-size: 1.5rem;
  letter-spacing: 0.3ch;
  width: 100%;
}


.logo-text {
  display: inline;
  position: absolute;
  left: -999px;
  transition: var(--transition-speed);
}

.navbar:hover .logo svg {
  transform: rotate(-180deg);
}

/* Small screens */
@media only screen and (max-width: 600px) {
  .logo {
    display: none;
  }

  .navbar-nav {
    flex-direction: row;
  }

  .nav-link {
    justify-content: center;
  }

  main {
    margin: 0;
  }
}

/* Large screens */
@media only screen and (min-width: 600px) {
  .navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .navbar:hover {
    width: 16rem;
  }

  .navbar:hover .link-text {
    display: inline;
  }

  .navbar:hover .logo svg
  {
    margin-left: 11rem;
  }

  .navbar:hover .logo-text
  {
    left: 0px;
  }
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.9);
}

.insidePopup {
  margin: 8% auto;
  width: 80%;
}

.popupHeader h2,
.popupFooter h3 {
  margin: 0;
  color: #ff7eee;
  text-align: center;
  padding:5px;
}

.popupBody {
  padding: 10px 20px;
  background: rgb(242, 238, 238);;
  
}

.close {
  color: rgb(208, 195, 195);
  float: right;
  font-size: 20px;
  color: #fff;
}

.close:hover,
.close:focus {
  color: #ff7eee;
  text-decoration: none;
  cursor: pointer;
}

@keyframes modalopen {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/*.searchField {
  display: flex;
  margin-left:100px;
}*/

input[type="text"] {
  width: 200px;
  height: 20px;
  padding-right: 50px;
}

input[type="submit"] {
  margin-left: -50px;
  height: 20px;
  width: 50px;
}

#editor {
  height: 650px;
  outline:none;
  border-style: none; 
  border-color: Transparent; 
  overflow: auto; 
  all: none; 
  box-shadow: none;
}

.title {
  margin: 10px;
  padding: 5px;
  outline: none;
}

.btn{
  float: right;
  padding: 10px;
  margin: 5px;
  border: none;
  letter-spacing:1px;
  border-radius: 5px;
  cursor: pointer;
}

.left-side {
  margin-left: 80px;
  float: left;
  width: 50%;
}

.right-side {
  float: right;
  width: 75%;
  
}



@media print {
  /* styles go here */
  section {
    display: none;
  }
}
 /* placeholder */
[contentEditable=true]:empty:not(:focus):before{
  content:attr(data-text)
}

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

body {
  background-color: #fafafa;
	height: 100vh;
	margin: 0;
	transition: background 0.2s linear;
}

body.dark {
  background: #292C35;
  color:white;
}

.checkbox {
	opacity: 0;
  position: relative;
}

.label {
  background-color: #111;
  float: right;
	border-radius: 50px;
  cursor: pointer;
	display: flex;
	position: relative;
	height: 26px;
	width: 50px;
	transform: scale(0.8);
}

.label .ball {
	background-color: #fff;
	border-radius: 50%;
	position: relative;
	top: 2px;
	left: 2px;
	height: 22px;
	width: 22px;
	transform: translateX(0px);
	transition: transform 0.2s linear;
}

.checkbox:checked + .label .ball {
	transform: translateX(24px);
}

/* Note CSS */
.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  width: 300px;
  max-height: 300px;
  border-radius: 5px;
  padding: 5px 10px;
}

.left {
  text-align: left;
}

.right {
  float: right;
}

@media screen and (max-width: 900px) {
  .card {
   width: 80px;

  }
  .right-side {
    float: right;
    width: 75%;
    
  }
  .left-side {
    margin-left: 80px;
    float: left;
    width: 50%;
  }
}




