body {
    margin: 0;
}
 
.topnav {
    background-color:#2847bf;
   height: 90px;
}

.logo1 {
    float: left;
    padding: 5px 20px;
    font-size: 300px;
}

.fa-quora:before { 
    font-size: 80px;
}

.topnav a {
    vertical-align: top;
    color: white;
    font-size: 40px;
    margin-right: 50px;       
    line-height: 90px;
    float: right;
    text-decoration: none;
} 
