body {
  margin: 0;
 background-color: #B3B3B3;
}

.header {
  position: relative;
  font-size: 70px;
  text-decoration: none;
  color: black;
 top:50px;
 left: 50px;
}

.wrapper {
width: 70%;
float: right;
position: relative;
top:-200px;
right: 10px;
}
#editor {
  height: 650px;
}

.title {
  padding: 5px;
  
}

.author {
  padding: 5px ;
}
.preview-notes{
  position: relative;
 top:100px;
right: -40px;
}
